<!-- <div class="container-fluid">
  <div class="row">
    <div class="col bg-dark text-white">
      <a class="navbar-brand">SPORTS STORE</a>
    </div>
  </div>
  <div class="row text-white">
    <div class="col-3 bg-info p-2">{{categories.length}}</div>
    <div class="col-9 bg-success p-2">{{products.length}}</div>
  </div>
</div> -->

<nz-card class="mainCard" style="width: 500px;overflow: hidden;" nzTitle="Card title" [nzExtra]="extraTemplate">
  <p>Card content</p>
  <p>Card content</p>
  <p>Card content</p>
</nz-card>
<ng-template #extraTemplate>
  <a>More</a>
</ng-template>
