<nz-layout class="main">
  <nz-sider nzWidth="200px" nzTheme="light">
    <ul nz-menu nzMode="inline" class="sider-menu">
      <li nz-submenu nzOpen nzTitle="前端 Front-end" nzIcon="user" >
        <ul>
          <li nz-menu-item nzSelected>HTML</li>
          <li nz-menu-item>CSS</li>
          <li nz-menu-item>JavaScript</li>
          <li nz-menu-item>TypeScript</li>
          <li nz-menu-item>React</li>
          <li nz-menu-item>Angular</li>
          <li nz-menu-item>Test</li>
          <li nz-menu-item>Webpack</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="后端 Back-end" nzIcon="laptop">
        <ul>
          <li nz-menu-item>Java</li>
          <li nz-menu-item>Spring</li>
          <li nz-menu-item>Python</li>
          <li nz-menu-item>Nodejs</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="CI/CD" nzIcon="github">
        <ul>
          <li nz-menu-item>Git</li>
          <li nz-menu-item>AWS</li>
          <li nz-menu-item>Jekins</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="CS" nzIcon="laptop">
        <ul>
          <li nz-menu-item>重构</li>
          <li nz-menu-item>代码整洁之道</li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="inner-layout">
    <nz-breadcrumb>
      <nz-breadcrumb-item>Home</nz-breadcrumb-item>
      <nz-breadcrumb-item>List</nz-breadcrumb-item>
      <nz-breadcrumb-item>App</nz-breadcrumb-item>
    </nz-breadcrumb>
    <nz-content>Content</nz-content>
  </nz-layout>
</nz-layout>

