<nz-layout>
  <nz-header>
    <div class="logo"><a [routerLink]="['']">amelie - YU Kaiwen</a></div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
      <li nz-menu-item nzSelected [routerLink]="['/basicinfo']">基本信息</li>
      <li nz-menu-item [routerLink]="['/education']">教育背景</li>
      <li nz-menu-item [routerLink]="['/work']">工作实习</li>
      <li nz-menu-item [routerLink]="['/projects']">项目详情</li>
      <li nz-menu-item [routerLink]="['/travel']">旅行经历</li>
      <li nz-menu-item [routerLink]="['/readingmanagement']">阅读管理</li>
    </ul>
  </nz-header>
</nz-layout>
